{
   "MVSF": {
      "IO": {
         "_comment2": "Required for internal use.",

         "bGlobalNotify": true
      },

      "LAN": {
         "_comment3": "port - The internal port the service is listening on",

         "port": "",
         "SSL": {
            "_comment1_1": "bUseSSL - Boolean value that enable/disables SSL. NOTE: Set to false ONLY if testing using localhost",
            "_comment1_2": "key - File Location of the SSL private key",
            "_comment1_3": "cert - File Location of the SSL certificate",

            "bUseSSL":  true,
            "key":      "./ssl/server.key",
            "cert":     "./ssl/server.cert"
         }
      },

      "WAN": {
         "_comment4_1": "host - The public hostname of your server",
         "_comment4_2": "port - The public port mapped to your service. Frequently this is the same as your LAN port",

         "host": "",
         "port": ""
      },

      "_comment5_1": "key - Admin Key to allow user to modify the Map",
      "_comment5_3": "sCompanyId - Your RP1 CompanyID",

      "key":         "",
      "sCompanyId":  ""
   },

   "SQL": {
      "type": "MSSQL",

      "install": {
         "_comment6_1": "The following values are only used on install:",
         "_comment6_2": "db_name - Name of the Database you wish to create",
         "_comment6_3": "login_name - Specifies the name of the login to grant execute rights.",

         "db_name":           "",
         "login_name":        ""
      },

      "config": {
         "_comment7": "connectionString - Database Connection String",

         "connectionString": "Driver={ODBC Driver 18 for SQL Server};Server=your_server;Database=YourDatabase;UID=myuser;PWD=StrongP@ssword123;TrustServerCertificate=yes;"
      }
   }
}
